<div class="wrap1">
  <div class="container">
    <div class="logo">
      <h1 style="margin-left: 15px">Tin-Tinder</h1>
    </div>
    <div class="menu">
      <ul class="sf-menu" id="example">
        <li (click)="isLogin()"><a>Đăng nhập</a></li>
        <li (click)="isRegister()"><a>Đăng ký</a></li>
      </ul>
    </div>
    <div class="clearing"></div>
  </div>
  <div class="clearing"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="wrap2">
        <div class="container">
          <div class="banner">
            <img style="width: 100%" src="assets/images/banner-img.jpg" alt="banner"/>
          </div>
        </div>
        <div class="clearing"></div>
      </div>
    </div>
    <div class="col-4">
      <div *ngIf="checkLogin && !checkRegister">

      </div>
      <div *ngIf="!checkLogin && checkRegister">

      </div>
    </div>
    <div class="wrap3">
      <div class="container">
        <div class="box mar-right40">
          <div class="title">
            <h1>Mang lại niềm vui</h1>
            <h2>Trò chuyện với người lạ</h2>
          </div>
        </div>
        <div class="box">
          <div class="title">
            <h1>Những người quan tâm bạn</h1>
            <h2>Xích lại gần nhau hơn</h2>
          </div>
        </div>
        <div class="clearing"></div>
      </div>
    </div>
    <!---wrap3--->
    <div class="wrap1" style="margin-bottom: 20px">
      <div class="container">
        <div class="title">
          <h1>Chat ngay</h1>
        </div>
        <div class="service mar-right40"><img src="assets/images/image1.jpg" alt="image"/>
          <div class="shadows"></div>
          <div class="title">
            <h2>Nam faucibus adipis</h2>
          </div>
        </div>
        <div class="service mar-right40"><img src="assets/images/image2.jpg" alt="image"/>
          <div class="shadows"></div>
          <div class="title">
            <h2>Imperdiet risus luctu</h2>
          </div>
        </div>
        <div class="service"><img src="assets/images/image3.jpg" alt="image"/>
          <div class="shadows"></div>
          <div class="title">
            <h2>Eleifend eunisl auctor</h2>
          </div>
        </div>
        <div class="clearing"></div>
      </div>
      <div class="clearing"></div>
    </div>
  </div>
</div>
